{% load static %}

<!DOCTYPE html>
<html>
<head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G0G6XRCPEV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G0G6XRCPEV');
</script>

<title>Sibongiseni Xaba - Resume</title>

<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content="The Resume of Sibongiseni Xaba."/>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'image/headshot.jpg' %}" alt=""/>
		</div>
			
		<a href="{% static 'pdf/Sibongiseni_CV.pdf' %}" download><button>Download CV</button></a>
		
		
		<div id="name">
			<h1 class="quickFade delayTwo">Sibongiseni Xaba</h1>
			<div class="container">
				<span class="text first-text">Software Developer</span>
			</div>
		</div>
		<div id="contactDetails" class="quickFade delayFour">
				<div class="email-icon"><a href="mailto:paynexaba@gmail.com" target="_blank">
					&#9993;</a>
				</div>

				<a class="fa fa-linkedin" target="_blank" href="https://www.linkedin.com/in/sibongiseni-xaba-390991259/"></a>

				<a class="fa fa-github" target="_blank" href="https://github.com/Nonkosii" target="_blank"></a>
				
				<div class="phone">064 011 7148</div>
		</div>
		<div class="clear"></div>
	</div>
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Profile</h1>
				</div>
				<div class="sectionContent">
					<p>Motivated and resolute Bachelor`s degree of Information and Communications Technology graduate with a strong academic background and a passion for technology. Seeking a position in the Software Development to apply my experience, knowledge, skills, and enthusiasm for problem-solving and innovation through a progressive and visionary company. I am hardworking and ambitious person who has strong leadership, communication, critical thinking skills, and work well in a team as well as independently. I am also willing to relocate.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>• Computer Support (Computer Architecture, Networks and Operating Systems, Systems Analysis and Design)</li>
					<li>• Database Management Tools (MYSQL, POSTGRES, Firebase Realtime Database)</li>
					<li>• Knowledge of Software Development Lifecycle</li>
					<li>• Software Development Methodologies: Scrum, Agile</li>
					<li>• Microsoft Office: Word, Excel, and PowerPoint</li>
					<li>• Driver’s licence (Code C1)</li>
					<li>• Microsoft PowerBI</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>			
			<div class="sectionContent">
				<article>
					<h2>Durban University of Technology</h2>
					<p class="subDetails">BSc Information and Communication Technology</p>
					<h3>February 2020 - December 2022</h3>
					<p>Key modules: Software Engineering, Integrative Programming and Technology, Business Intelligence and Project Management.</p>
					<p>Achievement: modules fee reduction</p>
				</article>
				<article>
					<h2>Endakane High School </h2>
					<p class="subDetails">Matric</p>
					<p>Subjects: Mathematics(D), Physical Sciences(B), Life Sciences(C), Geography(D), English FAL(C), ZULU HL(B)</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>Certifications</h1>
			</div>
			
			<div class="sectionContent">
				<p>•  Programming in C# </p>
				<p>•  Microsoft Azure Fundamentals </p>
				<p>•  Microsoft Power Platform Fundamentals </p>
				<p>•  Business Analyst Support Practice NQF 5 (in progress) </p>
				<p>•  Packet Tracer from CISCO Networking Academy </p>
				<p>•  Django Series </p>
			</div>
		</section>	
		
		
	</div>
	<div class="footer">&copy; <span id="year"></span> - Sibongiseni Xaba.</div>
</div>

<script>
	const text = document.querySelector(".first-text");

	const textLoad = () => {
		setTimeout(() => {
			text.textContent = "Data Analyst";
			setTimeout(() => {
				text.textContent = "Software Developer";
			}, 4000); // Delay before switching back to "Software Developer"
		}, 4000); // Delay before switching to "Data Analyst"
	};

	textLoad();

	setInterval(textLoad, 8000); // Repeat every 8 seconds (4 seconds for each title)

	document.getElementById("year").textContent = new Date().getFullYear();
</script>
</body>
</html>